<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @location.name %>
</p>

<p>
  <b>position:</b>
  <%= @location.position %>
</p>

<p>
  <b>store:</b>
  <%= @location.store_id %>
</p>


<%= link_to 'edit', edit_admin_location_path(@location) %> |
<%= link_to 'back', admin_locations_path %>
