<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @item.name %>
</p>

<p>
  <b>store:</b>
  <%= @item.store_id %>
</p>

<p>
  <b>number needed:</b>
  <%= @item.number_needed %>
</p>

<p>
  <b>location:</b>
  <%= @item.location_id %>
</p>

<p>
  <b>notes:</b>
  <%= @item.notes %>
</p>

<p>
  <b>popularity:</b>
  <%= @item.popularity %>
</p>


<%= link_to 'edit', edit_admin_item_path(@item) %> |
<%= link_to 'back', admin_items_path %>
