<h1>edit  <%= @store.name %></h1>

<%= semantic_form_for @store do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>

<%= link_to 'cancel', stores_path %>
