<%= content_for(:head) do %>
  <%= javascript_include_tag 'list_go' %>
<% end %>

<h1><%= @store.name %></h1>

<div id="items_list">
  <%= render "add_form" %>

  <div id="items"><%= render "items" %></div>

</div>
