<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @store.name %>
</p>

<p>
  <b>user:</b>
  <%= @store.user_id %>
</p>


<%= link_to 'Edit', edit_admin_store_path(@store) %> |
<%= link_to 'Back', admin_stores_path %>
