<h1>Listing items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Store</th>
    <th>Number needed</th>
    <th>Location</th>
    <th>Notes</th>
    <th>Popularity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.store_id %></td>
    <td><%= item.number_needed %></td>
    <td><%= item.location_id %></td>
    <td><%= item.notes %></td>
    <td><%= item.popularity %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
