<h1>listing users</h1>

<table>
  <tr>
    <th>email</th>
    <th>is admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.admin? %></td>
    <td><%= link_to 'show', admin_user_path(user) %></td>
    <td><%= link_to 'edit', edit_admin_user_path(user) %></td>
    <td><%= link_to 'destroy', admin_user_path(user), :confirm => 'are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new user', new_admin_user_path %>
