<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render '/shared/head' %>
</head>
<body class="bp one-col">
  <div id="container">
    <%= render '/shared/header' %>
    <div id="content-wrapper"> 
      <div id="actual-content">
        <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, {:id => "flash_#{name}", :class => "flash"} %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= render '/shared/footer' %>
  </div>
</body>
</html>